<!-- 	<a class="btn btn-primary" routerLink='/addpost'>ADD Post</a>
 <div class="table-responsive">

                
    <table id="mytable" class="table table-bordred table-striped">
                   
       <thead>
        <th>
        	<input style="margin-left: 9px" type="checkbox" id="checkall" />
        </th>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
       </thead>
    	<tbody>

    
    <tr *ngFor="let post of allPosts">
    <td><input type="checkbox" class="checkthis" /></td>
    <td>{{post.title}}</td>

    <td>
    	<a class="btn btn-primary btn-xs" routerLink="/editp/{{post.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
    </td>
    <td>
    	<a class="btn btn-primary btn-xs" (click)="deletePost(post.id)"><span class="glyphicon glyphicon-trash"></span></a>
    		
    </td>
    </tr>
    
   
    </tbody>
        
</table>

<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>
                
            </div>
        -->

<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Employees"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'title'"
            [header]="'Title'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'active'"
            [header]="'Action'"
            [width]="100"
            [resizable]="true">
            <ng-template #dataTableHeader let-item="item">
                <span style="color: rgb(232, 0, 0)">Action</span>
            </ng-template>
            <ng-template #dataTableCell let-item="item">
                <span style="color: grey">
                <span class="glyphicon glyphicon-ok" *ngIf="item.status=='publish'"></span>
                <span class="glyphicon glyphicon-remove" *ngIf="item.status!='publish'"></span>
                <a class="btn btn-primary btn-xs" routerLink="/editp/{{item.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-primary btn-xs" (click)="deletePost(item.id)"><span class="glyphicon glyphicon-trash"></span></a>
                </span>
            </ng-template>
        </data-table-column>

    </data-table>
</div>        